.each_side {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000aa;
  top: 70px;
  bottom: 0;
  left: 0;
  
}
.each_side_nav {
  animation: anim 3s all;
  width: 19vw;
  background-color: #fff;
  overflow-y: scroll;
  max-height: calc(100vh - 66px);
}
@keyframes anim {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(0%);
  }
}
.each_side_nav::-webkit-scrollbar {
  width: 10px;
}

.each_side_nav::-webkit-scrollbar-track {
  background: #fff;
}

.each_side_nav::-webkit-scrollbar-thumb {
  height: 50px;
  border-radius: 15px;
  background: #fff;
}
.each_side:hover .each_side_nav::-webkit-scrollbar-thumb {
  background-color: #aaa;
}

.each_side_main_navbar {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
}

.clickedSide {
  display: block;
}
