.sidebar {
  width: 19vw;
}
.side_main_navbar a{
  background-color: #fff;
  color: #333;
}
.side_main_navbar a.active{
  color: #000;
  font-weight: 600;
  background-color: #f3f3f3;
}
.side_main_navbar a.active ion-icon{
  color: #000;
}
.side_main_navbar a.active .side_nav{
  background-color: #f3f3f3;
}
.sidebar_nav {
  overflow-y: scroll;
  max-height: calc(100vh - 66px);
}
.sidebar_nav::-webkit-scrollbar {
  width: 10px;
}

.sidebar_nav::-webkit-scrollbar-track {
  background: #fff;
}

.sidebar_nav::-webkit-scrollbar-thumb {
  height: 50px;
  border-radius: 15px;
  background: #fff;
}
.sidebar:hover .sidebar_nav::-webkit-scrollbar-thumb {
  background-color: #aaa;
}

.side_main_navbar{
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
}

.small_nav{
  padding-left: 10px;
}
.small_nav_item{
  padding: 0 10px;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
}
.small_nav_item:hover{
  background-color: #e9e9e9;
}
.small_nav_item ion-icon{
  font-size: 25px;
  margin-bottom: 10px;
}
.small_nav_item p{
  font-size: 12px;
}
.side_main_navbar h3{
  padding: 10px 12px 10px 12px;
  font-size: 19px;
  font-weight: 500;
}

